*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* orden del titulo */
.titulo{
    text-align: center;
    font-size: 30px;
}

/* orden del contenedor general */
.container_gen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px
}

/* orden del nombre del creador */
.creador{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: white;
    background-color: gray;
}

/* configuracion del boton */
#btn_com{
    margin-top: 30px;
    height: 50px;
    width: 80px;
}